/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

/*RESET*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    background-color: #262727;
}


/*Navigate*/

.topnav {
    overflow: hidden;
    background-color: #262727;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(243, 49, 130);
    color: #f2f2f2;
}

.topnav a.active {
    background-color: #262727;
    color: rgb(243, 49, 130);
}